.containerGeral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  flex: 1 1 auto;
  gap: 64px;
  margin: 0 42px;
  width: 93vw;
}

.containerEncontrado {
  max-width: 426px;
  padding: 32px;
  margin-top: 12px;
  background-color: #F5F4F4;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .25);
  border-radius: 5px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .10);
}

.linha {
  content: '';
  display: block;
  background-color: #E5E2E2;
  width: 100%;
  height: 2px;
  margin: 36px 0 28px 0;
}

.nomeDoAnime {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  color: #363636;
}

.similiaridade {
  font-size: 1.25rem;
  color: #787878;
  margin-top: 12px;
}

.maisInfo {
  max-width: 426px;
}

.maisInfo span {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 16px;
  color: #363636;
  max-width: 35ch;
  font-weight: 400;
}

.maisInfo span b {
  font-weight: 600;
}

@media(max-width: 983px) {
  .containerGeral {
    align-items: center;
    margin: 0 auto;
    width: 80vw;
  }

  .containerEncontrado {
    max-width: 445px;
    width: 80vw;
    left: -6px;
  }

  .maisInfo {
    min-width: 0px;
  }
}

@media(max-width: 555px) {
  .containerGeral {
    margin: 0 auto;
  }

  .maisInfo span {
    font-size: 1.1rem;
  }
}

@media(max-width: 480px) {
  .maisInfo span {
    max-width: 30ch;
  }
}

@media(max-width: 430px) {
  .containerGeral {
    margin: 0 auto;
    width: 80vw;
  }

  .containerEncontrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 300px;
    left: -6px;
    padding: 32px 18px;
  }

  .maisInfo {
    max-width: 280px;
    padding: 6px;
  }
  
  .maisInfo span {
    min-width: 0;
    font-size: 0.9rem;
  }
 
  .nomeDoAnime {
    font-size: 1.2rem;
  }
  
  .similiaridade {
    font-size: 1rem;
  }
}

@media(max-width: 350px) {
  .maisInfo span {
    max-width: 25ch;
  }
}