.containerBuscar {
  max-width: max-content;
  margin: 18px auto 0 auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .10);
}

.inputUrl,.btnEnviar {
  height: 47px;
  outline: none;
  font-size: 1rem;
}

.inputUrl {
  width: 422px;
  padding-left: 16px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 3px 0 0 3px;
}

.inputUrl:focus, .inputUrl:hover {
  background-color: #e7e7e7;
}

.inputUrl:focus {
  border: 1px solid #dbdbdb;
}

.btnEnviar {
  width: 144px;
  text-align: center;
  background-color: #7CCC81;
  border: 3px solid #7CCC81;
  color: #F5F4F4;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.btnEnviar:focus {
  border: 3px solid #6ec773;
}

.btnEnviar:hover {
  background-color: #60c166;
}