.button {
  display: inline-block;
  color: #787878;
  background-color: #F4F4F4;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .10);
  border: 2px solid #e7e7e7;
  border-radius: 15px;
  font-size: 0.9rem;
  text-align: center;
  width: 92px;
  height: 34px;
  margin: 34px auto;
  cursor: pointer;
}

.button + .button {
  margin-left: 14px;
}

.button:focus, .button:hover {
  background-color: #e7e7e7;
}

.button:focus {
  border: 1px solid #dbdbdb;
}

.ativo {
  background-color: #7CCC81;
  border: 2px solid #6ec773;
  color: #F5F4F4;
}

.ativo:focus, .ativo:hover {
  border: 3px solid #6ec773;
  background-color: #60c166;
}