.containerFeedback {
  display: block;
  margin: 64px auto;
  max-width: 440px;
  padding: 16px 0;
  background-color: #F5F4F4;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .25);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .10);
}

.feedbackPergunta {
  display: block;
  font-size: 1.4rem;
  color: #363636;
  font-weight: 600;
  margin: 18px auto auto auto;
  text-align: center;
}

.feedback {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 18px;
}

.feedbackNegativo, .feedbackPositivo {
  font-size: 1rem;
}

.feedbackPositivo {
  color: #60c166;
  font-weight: 600;
}

.feedbackNegativo {
  color: #363636;
}

.feedbackNegativo b {
  font-weight: 600;
  color: #60c166;
  cursor: pointer;
}

.feedbackNegativo b:hover {
  color: #3F9549;
  transition: .1s ease-in-out;
}

.containerBtns {
  max-width: max-content;
  margin: 0 auto;
  display: block;
}

.containerBtns * {
  margin: 18px auto;
}

@media(max-width: 983px) {
  .containerFeedback {
    width: 85vw;
    position: relative;
    left: -5px;
  }
}

@media(max-width: 430px) {
  .feedbackPergunta {
    font-size: 1.1rem;
    padding-left: 6px;
    padding-right: 6px;
  }

  .feedback {
    font-size: 0.9rem;
    margin: 18px;
  }
}
@media(max-width: 340px) {
  .feedbackPergunta {
    font-size: 1rem;
    padding-left: 6px;
    padding-right: 6px;
  }
}


