.containerBuscar {
  max-width: max-content;
  margin: 18px auto 0 auto;
  position: relative;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .10);
}

.input, .label {
  width: 422px;
  height: 47px;
  padding-left: 48px;
  background-color: #F4F4F4;
  border: 1px solid #dbdbdb;
  border-radius: 3px 0 0 3px;
  outline: none;
  font-size: 1rem;
}

.containerBuscar::before, .containerBuscarFile::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.containerBuscar::before {
  background: url('../assets/search.svg') no-repeat;
}

.input:focus, .input:hover, .label:focus, .label:hover {
  background-color: #e7e7e7;
}

.input:focus, .label:focus {
  border: 1px solid #cecece;
}


/*  Input file  */

.containerBuscarFile {
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: max-content;
  height: 47px;
  margin: 18px auto 0 auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .10);
  position: relative;
}

.containerBuscarFile::before {
  background: url('../assets/folder-open.svg') no-repeat;
}

.input[type=file] {
  display: none;
}

.label {
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: 422px;
  padding: 6px 48px;
  cursor: pointer;
  color: #777777;
}



