/* Header */

.header, .footer {
  background-color: #22455A;
  padding: 32px 36px;
}

.logoHeader {
  margin-left: -16px;
  margin-bottom: -12px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navUl {
  display: flex;
  list-style: none;
  gap: 36px;
}

.navUl > * {
  text-decoration: none;
}

.navUl li {
  font-size: 1.125rem;
  color: #F5F4F4;
  transition: .3s ease-in-out;
}

.navUl li:hover {
  color: #BDBDBD;
}

@media(max-width: 750px) {
  .header {
    padding: 32px 36px;
    position: relative;
  }
  
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .navUl {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: absolute;
    left: 0px;
    top: 88px;
    z-index: 2;
    background-color: #22455A;
    width: 100vw;
    height: 0;
    transition: .6s ease-in-out;
    visibility: hidden;
    overflow: hidden;
  }

  .header .nav:global(.aberto) .navUl {
    height: 40vh;
    visibility: visible;
    overflow-y: auto;
  }
  
  .header .navUl li {
    display: block;
    width: 88vw;
    font-size: 1.125rem;
    position: relative;
    left: 28px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }

  .header .navUl li:first-of-type {
    padding-top: 12px;
  }

  .header .menuMobileBtn {
    display: block;
    height: 32px;
    width: 32px;
    border: none;
    outline: none;
    background-color: transparent;
    border-top: 3px solid #F5F4F4;
    position: absolute;
    right: 36px;
    top: 36px;
    border-radius: 1px;
    cursor: pointer;
  }

  .menuMobileBtn::before, .menuMobileBtn::after {
    display: block;
    content: '';
    background-color: #F5F4F4;
    height: 3px;
    width: 100%;
    border-radius: 1px;
    margin: 7px 0px;
    transition: .3s ease;
    position: relative;
  }

  .nav:global(.aberto) .menuMobileBtn {
    border-top-color: transparent;
  }

  .nav:global(.aberto) .menuMobileBtn::before {
    transform: rotate(135deg);
  }

  .nav:global(.aberto) .menuMobileBtn::after {
    transform: rotate(-135deg);
    top: -9px;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 74px;
}

footer .nav {
  display: flex;
  align-items: flex-start;
  gap: 128px;
  margin-top: 32px;
}

.logo {
  margin-top: -5px;
  margin-right: 128px;
}

.containerNav {
  position: relative;
}

.containerNav::before {
  content: '';
  width: 2px;
  height: 100%;
  display: inline-block;
  background-color: #1C3C50;
  position: absolute;
  top: 0;
  left: -18px;
}

.containerNav + .containerNav {
  margin-left: 128px;
}

.containerNav > .navUl {
  gap: 18px;
}

.containerNav ul {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.tituloNav {
  color: #F5F4F4;
  font-weight: 600;
  margin-bottom: 24px;
}

@media(max-width: 1045px) {
  .logo {
    margin-right: 0px;
  }
}

@media(max-width: 900px) {
  .logoHeader {
    width: 160px;
    margin-top: 0px;
  }

  .logo {
    margin-left: -15px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 64px;
  }
  
  footer .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px 0;
    margin-top: 28px;
  }

  .containerNav + .containerNav {
    margin-left: 0;
  }

  .containerNav {
    margin-bottom: 32px;
  }

  .tituloNav {
    margin-top: -32px;
  }

  .containerNav::before {
    top: -32px;
    height: 132%;
  }
}

@media(max-width: 430px) {
  .logo {
    width: 163px;
  }
}