.container404 {
  display: block;
  width: max-content;
  margin: 92px auto;
}

.statusError {
  font-size: 7rem;
  font-weight: bold;
  width: max-content;
  color: #22455A;
}

.naoExiste {
  font-size: 1.5rem;
  color: #363636;
  margin-left: -18px;
  width: max-content;
}

.link > * {
  color: #60c166;
  font-weight: bold;
}

.link > *:hover, .link > *:active {
  color: #7fcd84
}