.containerPrevia {
  position: relative;
}

.imgContainer {
  display: block;
  margin: 0 auto;
  width: 360px;
  margin-top: 48px;
}

.img {
  display: block;
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .25);
}

@media(max-width: 555px) {
  .imgContainer {
    width: 280px;
    margin-top: 48px;
  }
}

@media(max-width: 430px) {
  .imgContainer {
    width: 250px;
  }
}

@media(max-width: 350px) {
  .imgContainer {
    width: 230px;
  }
}

@media(max-width: 320px) {
  .imgContainer {
    width: 200px;
  }
}

