.containerButtons {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.containerProcurar {
  margin-bottom: 128px;
}

.esticar {
  display: grid;
  grid-template-rows: auto 1fr 5fr 1fr auto; 
  min-height: 100vh; 
}