.titulo {
  display: block;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 128px;
  color: #363636;
  font-weight: 600;
  position: relative;
}

.titulo::after {
  content: '';
  display: block;
  width: 64px;
  height: 4px;
  border-radius: 3px;
  background-color: #22455A;
  position: absolute;
  left: 48%;
  bottom: -28px;
}

@media(max-width: 970px) {
  .titulo {
    font-size: 1.4rem;
    margin-top: 92px;
  }
}